<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
  <div class="col-10">
    <h4 style="color:rgb(120, 120, 120); margin-bottom:4px;"> 
      {{exp['company']}} 
    </h4>
    <div> 
      <b>Headquarters:</b> {{exp['headquarters']}} 
    </div>
    {% if 'revenue' in exp %}
      <div> 
        <b>Revenue:</b> {{exp['revenue']}} 
      </div>
    {% endif %}
   </div> 
  <div class="col-2">
    <button type="button" class="btn btn-outline-primary"> Details </button>
  </div>
</div>